@page "/"
@using stid_management.Services
@using Microsoft.Graph.Models
@inject IUserService UserService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

@code {
    private User _me;
    
    protected override async Task OnInitializedAsync()
    {
        
    }
}