@inherits LayoutComponentBase

<PageTitle>stid-management</PageTitle>
<link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay/>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>